.download {
  --gutter: 34px;
  margin-block-start: 149px;
  text-align: center;
}

.download ul {
  padding-inline-start: 0;
  margin-block: 39px;
}

.download ul li + li {
  margin-block-start: 40px;
}
