.hero {
  /* Outer inline padding grows from 10px at 375w to 48px at 1440w */
  --gutter: clamp(0.625rem, -0.2113rem + 3.5681vw, 3rem);
  --wrapper-max-width: 1223px;
  text-align: center;
  margin-block-start: 74px;
  /* Grows from 74px at 375w to 105px at 1440w */
  margin-block-start: clamp(4.625rem, 3.9428rem + 2.9108vw, 6.5625rem);
  display: flex;
  flex-direction: column;
  gap: 57px;
}

.hero .image {
  position: relative;
}

.hero .image::after {
  content: '';
  position: absolute;
  background-color: hsl(var(--clr-soft-blue));
  z-index: -1;
  border-top-left-radius: 99em;
  border-bottom-left-radius: 99em;
  width: 200%;
  /* Grows from 169px at 320w to 352px at 701w */
  height: clamp(10.5625rem, 0.9562rem + 48.0315vw, 22rem);
  /* Grows from 46px at 320w to 100px at 701w */
  top: clamp(2.875rem, 0.0404rem + 14.1732vw, 6.25rem);
  /* Grows from 60px at 375w to 193px at 701w */
  left: clamp(3.75rem, -5.8119rem + 40.7975vw, 12.0625rem);
}

.hero .image img {
  margin-inline: auto;
  width: 100%;
  height: auto;
  max-width: 657px;
}

.hero .text {
  /* Give additional inline padding to the text on smaller screens */
  --gutter: 22px;
  --wrapper-max-width: 484px;
}

.hero h2 {
  font-size: 30px;
  font-size: clamp(1.875rem, 1.4789rem + 1.6901vw, 3rem); /* 30 to 48 */
  margin-block-start: 0;
  text-wrap: wrap;
}

.hero p {
  margin-block-start: 18px;
  font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem); /* 16 to 18 */
  /* Prevent typographic orphans */
  text-wrap: pretty;
}

.hero .cta {
  margin-block-start: 31px;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.hero .cta .btn {
  /* Grows from 14px at 375w to 22px at 562w */
  padding-inline: clamp(0.875rem, -0.1277rem + 4.2781vw, 1.375rem);
}

@media screen and (min-width: 1174px) {
  .hero {
    /* Grow left padding to adjust optical alignment on larger screens */
    --gutter-left: clamp(2.40640625rem, -32.4874rem + 47.5555vw, 10.3125rem);
  }
}

@media screen and (min-width: 855px) {
  .hero {
    text-align: left;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .hero .image {
    /* Grows from 328.5px at 720w to 657px at 1440w */
    width: clamp(20.53125rem, 0rem + 45.625vw, 41.0625rem);
    flex-shrink: 0;
  }

  .hero .image::after {
    /* Grows from 221px at 855w to 352px at 1440w */
    height: clamp(13.8125rem, 1.8462rem + 22.3932vw, 22rem);
    top: clamp(3.625rem, -4.1394rem + 14.5299vw, 8.9375rem); /* 58px to 143px */
    left: clamp(3.75rem, -8.399rem + 22.735vw, 12.0625rem); /* 60px to 193px */
  }

  .hero .text {
    padding-inline: 0;
    margin-inline: 0;
    /* Grows from 0 at 720w to 79px at 1440w */
    margin-block-start: clamp(0rem, -4.9375rem + 10.9722vw, 4.9375rem);
  }

  .hero .cta {
    justify-content: flex-start;
  }
}
