.hero {
  --gutter: 40px;
  text-align: center;
  margin-block-start: 74px;
}

.hero .image img {
  margin-inline: auto;
}

.hero h2 {
  font-size: 30px;
  margin-block-start: 57px;
}

.hero p {
  margin-block-start: 18px;
}

.hero .cta {
  margin-block-start: 31px;
}

.hero .cta > * + * {
  margin-inline-start: 15.5px;
}
