.site-footer {
  background-color: hsl(var(--clr-very-dark-blue));
  color: #fff;
  padding: 40px;
  text-align: center;
}

.site-footer ul {
  padding-inline-start: 0;
}

.site-footer nav ul {
  line-height: normal;
  margin-block-start: 38px;
}

.site-footer nav ul li + li {
  margin-block-start: 31px;
}

.site-footer nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1.8px;
}

.site-footer .social-links {
  margin-block: 47px 0;
}
